<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Editar Cliente</h6>
                </div>
                <div class="col-3 text-right">
                    <button class="btn btn-danger" (click)="eliminarCliente()">Eliminar Cliente</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class=" col-12">
                            <tabset type="pills" class="nav-fill flex-column flex-md-row">
                                <tab>
                                    <ng-template tabHeading>
                                        <i class="fas fa-user"></i> Datos del Cliente
                                    </ng-template>
                                    <div class="card-body">
                                        <form [formGroup]="clienteForm" (ngSubmit)="actualizarCliente()">
                                            <h6 class="heading-small text-muted mb-4">Detalles del Cliente</h6>
                                            <div class="pl-lg-4">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Nombre comercial</label>
                                                            <input type="text" class="form-control"
                                                                formControlName="nombreComercial">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Razón Social</label>
                                                            <input type="text" class="form-control"
                                                                formControlName="razonSocial">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">RFC</label>
                                                            <input type="text" class="form-control"
                                                                formControlName="rfc">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6 class="heading-small text-muted mb-4">Datos para la facturación</h6>
                                            <div class="row">
                                              <div class="col-lg-6">
                                                <div class="form-group">
                                                  <label class="form-control-label">Método de pago</label>
                                                  <ng-select [items]="metodosDePago" formControlName="metodoPago"
                                                    placeholder="Selecciona un método de pago"></ng-select>
                                                </div>
                                              </div>
                                              <div class="col-lg-6">
                                                <div class="form-group">
                                                  <label class="form-control-label">Forma de pago</label>
                                                  <ng-select [items]="tiposDePago" formControlName="formaPago"
                                                    placeholder="Selecciona una forma de pago"></ng-select>
                                                </div>
                                              </div>
                                            </div>
                                            <h6 class="heading-small text-muted mb-4">Datos de contacto</h6>
                                            <div class="row">
                                              <div class="col-lg-6">
                                                <div class="form-group">
                                                  <label class="form-control-label">Nombre</label>
                                                  <input type="tel" class="form-control" formControlName="nombre">
                                                </div>
                                              </div>
                                              <div class="col-lg-6">
                                                <div class="form-group">
                                                  <label class="form-control-label">Puesto</label>
                                                  <input type="tel" class="form-control" formControlName="puesto">
                                                </div>
                                              </div>
                                              <div class="col-lg-6">
                                                <div class="form-group">
                                                  <label class="form-control-label">Teléfono</label>
                                                  <input type="tel" class="form-control" formControlName="telefono">
                                                </div>
                                              </div>
                                              <div class="col-lg-6">
                                                <div class="form-group">
                                                  <label class="form-control-label">Correo electrónico</label>
                                                  <input type="email" class="form-control" formControlName="email">
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-lg-12 mt-4">
                                                <label class="form-control-label">Logo del Cliente</label>
                                                <!-- Si el logo existe -->
                                                <div *ngIf="logoURL; else noLogo">
                                                    <img [src]="logoURL" alt="Logo del Cliente" class="img-thumbnail"
                                                        style="width: 150px; cursor: pointer;" title="Actualizar imagen"
                                                        (click)="onFileInputClick()">
                                                    <input id="file-upload" type="file" class="form-control-file-hidden"
                                                        (change)="onFileSelected($event)">
                                                </div>
                                                <!-- Si no hay logo -->
                                                <ng-template #noLogo>
                                                    <div class="custom-file-upload">
                                                        <label for="file-upload" class="custom-file-upload-label">
                                                            <i class="fas fa-cloud-upload-alt"></i> Agregar Logo
                                                        </label>
                                                        <input id="file-upload" type="file"
                                                            class="form-control-file-hidden"
                                                            (change)="onFileSelected($event)">
                                                    </div>
                                                </ng-template>
                                                <p *ngIf="fileUploaded" class="mt-2 text-success">Archivo cargado con
                                                    éxito.</p>
                                            </div>

                                            <div class="col text-left mt-4">
                                                <button type="submit" class="btn btn-primary" [disabled]="isSubmitting">
                                                    <span class="btn-inner--icon mr-2"><i
                                                            class="fas fa-save"></i></span>
                                                    <span class="btn-inner--text">Actualizar Cliente</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </tab>
                                <tab>
                                    <ng-template tabHeading>
                                        <i class="fas fa-copy mr-2"></i>Solicitudes relacionadas
                                    </ng-template>
                                    <app-ordenes-cliente [id]="clienteId"></app-ordenes-cliente>
                                </tab>
                                <tab>
                                    <ng-template tabHeading>
                                        <i class="fas fa-file mr-2"></i>Documentación del instructor
                                    </ng-template>
                                    <app-dosc-cliente [id]="clienteId"></app-dosc-cliente>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>